{% extends 'home_page.html' %}

{% block content %}

<div class="container">
    <div class="card" style="margin-top: 80px; width: 400px; margin-left: 415px;"> 
        <div class="card-header text-center">
            Register
        </div>
        <br>
        <form action="register" method="post" style="padding-left: 20px; padding-right: 20px;">
            {% csrf_token %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-danger" role="alert">
                        {{message}}
                    </div>
                {% endfor %}
            {% endif %}
            <div class="form-group">
                <label for="formGroupExampleInput" style="text-align: left;">Username:
                    <a style="color: red"> *</a></label>
                <input type="text" class="form-control" name="username" required>
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput" style="text-align: left;">Email:
                  <a style="color: red"> *</a></label>
              <input type="text" class="form-control" name="email" placeholder="name@example.com"> 
              <!-- make required -->
          </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password:
                    <a style="color: red"> *</a></label>
                <input type="password" class="form-control" name="password1" required>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password (Confirm):
                    <a style="color: red"> *</a></label>
                <input type="password" class="form-control" name="password2" required>
            </div>
            <div class="form-group">
                <label for="account_type">Account Type:
                    <a style="color: red"> *</a></label>
                <select class="form-select" name="account_type" aria-label="account_type" style="" required>
                    <option value="" selected disabled hidden>Choose Type</option>
                    <option value="enterprise">Enterprise Account</option>
                    <option value="home_owner">Home Owner</option>
                </select> 
            </div>
                
            <div class="text-center" style="margin-top: 30px;">
              <button type="submit" class="btn btn-primary">Register!</button>
            </div>
            <br><br>
            <div class="text-center" style="margin-top: -20px;">
              Already have an account? <a href="{% url 'login' %}">Login</a>
            </div>            
        </form>
            <br>    
      </div>
</div>

{% endblock %}